@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
body {
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
    background: #eee;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}

#landing {
    background: #fff;
}

#landing-text {
    display: grid;
    place-content: center;
    text-align: center;
    height: 50vh;
    padding: 0 1rem;
}

#landing-text h2 {
    color: #888;
}

.btn {
    border: 1px solid #ccc;
    padding: 0.5rem 2rem;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin: 0;
}

#header {
    text-align: center;
    color: #fff;
    background: #333;
    padding: 1.5rem;
}

#header h2 {
    display: inline-block;
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    padding: 0 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    margin: auto;
    padding: 2rem 1rem;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

/* screen size 500px and up */

@media (min-width:500px) {
    #landing {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        height: 100vh;
    }
}

/* screen sizes 700px and up */

@media (min-width:700px) {
    .btn {
        padding: 1rem 3rem;
    }
}